# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project artifacts
runs/
wandb/
Plots/
Garbage/
data/
*.npy
*.log
